<ul>
  <li>Title: <%= @recipe.title %></li>
  <li>Chef: <%= @recipe.user.name %></li>
  <li>Directions: <%= @recipe.directions %></li>
    <ul>Ingredients: 
    <% @recipe.ingredients_split.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>      
    </ul>
  </li>
  <li>Created At: <%= @recipe.human_friendly_time %></li>
  <li>Prep Time: <%= @recipe.friendly_prep_time %></li>
</ul>

<img src="<%= @recipe.image %>">